<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.javaboy.mybatis.example.AMapper">

    <select id="selectByScore" resultType="org.javaboy.mybatis.example.A">
        select * from a where score= #{score}
    </select>

    <insert id="addOne">
        insert into A(name,score) values(#{name},#{score})
    </insert>


</mapper>